@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

body{
    font-family: "Noto Sans", sans-serif;
}
body::-webkit-scrollbar{
    display: none;
}

/* code for hiding scrollbar in dashboard section for small card */
.dashboard-scard-container::-webkit-scrollbar{
    display: none;

}
/* .dashboard-scard-container::-webkit-scrollbar-thumb{
    background-color: red;
    width: 10px;
} */

.shadow-custom-shadow{
    box-shadow: rgba(252, 251, 251, 0.35) 0px 5px 15px;
}
.summary.card-body::-webkit-scrollbar{
    width: 3px;
}
.summary.card-body::-webkit-scrollbar-thumb{
    background-color: gray;
    border-radius: 50px;
}

.highest-acos.card-body::-webkit-scrollbar{
    width: 3px;
}
.highest-acos.card-body::-webkit-scrollbar-thumb{
    background-color: gray;
    border-radius: 50px;
}

.highest-acos.card-body::-webkit-scrollbar{
    width: 3px;
}

.highest-acos.card-body::-webkit-scrollbar-thumb{
    background-color: gray;
    border-radius: 50px;
}

.top-products.card-body::-webkit-scrollbar{
    width: 3px;
}

.top-products.card-body::-webkit-scrollbar-thumb{
    background-color: gray;
    border-radius: 50px;
}